{% extends 'base.html' %}
{% block body %}
<form action =  "{{ url_for(lang) }}" method = "POST">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
<div class="frame">
    <p class="log">Verify</p>
    <br>
    <p class="error"> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
              {% for message in messages %}
              {{ message }}
              {% endfor %}
        {% endif %}
     {% endwith %}
    </p>
        <h3 class="box1"> 
            {{ [lang, price] }}
        </h3>
        <p class="email"> 
            Promocode
        </p>
        <div class="box1" >
    <input type="text" name="code"  placeholder="Code">
        </div>
        
        <div class="sub">
        <button class="b" type="submit"  >Enroll</button>
    </div>
    <a class="for" href="#">Don't have Promocode?</a>
  </div>

  <div class="space"></div>

</form>
{% endblock %}

