{% extends 'index.html' %}
{% block body %}
    <!-- Page Content  -->
        <h2> What is Python? </h2>
        <p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</p>
        <p>It is used for:
            web development (server-side),
            software development,
            mathematics,
            system scripting.</p>

        <div class="line"></div>

        <h2>What can Python do?</h2>
        <p>
            Python can be used on a server to create web applications.
            <br>
            Python can be used alongside software to create workflows.
            <br>
            Python can connect to database systems. It can also read and modify files.
            <br>
            Python can be used to handle big data and perform complex mathematics.
            <br>
            Python can be used for rapid prototyping, or for production-ready software development.
        </p>

        <div class="line"></div>

        <h2>Why Python?</h2>
        <p>
            Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
            <br>
            Python has a simple syntax similar to the English language.
            <br>
            Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
            <br>
            Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
            <br>
            Python can be treated in a procedural way, an object-oriented way or a functional way.
        </p>

        <div class="line"></div>

        <h3>Python Syntax compared to other programming languages</h3>
        <p>
            Python was designed for readability, and has some similarities to the English language with influence from mathematics.
            <br>
            <br>
            Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
            <br>
            <br>
            Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

        </p>
        <div class="line"></div>

        <a name="Variables"></a>

        <h2> Python Variables </h2>
        <p>
            Python has no command for declaring a variable.
            A variable is created the moment you first assign a value to it.
        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            x = 5
            <br>
            y = "John"
            <br>
            print(x)
            <br>
            print(y)
            <br>
            <br>
            >> 5
            <br>
            >> John
            <br>
            <br>
            <br>
            Variables do not need to be declared with any particular type, and can even change type after they have been set.
            <br>
            x = 4       
            <br>
            x = "Sally"
            <br>
            print(x)
            <br>
            <br>
            >> Sally
        </p>

        <div class="line"></div>
        <a name="DataTypes"></a>
        <h2> Python Data Types        </h2>
        <p>
            In programming, data type is an important concept.
            <br>
            Variables can store data of different types, and different types can do different things.
            <br>
            Python has the following data types built-in by default, in these categories:

        <div class="line"></div>
        Text Type :====>>>> str # "string"
        <br>
        Numeric Types :==>>	int # 5 , float # 5.5 , complex # 5+5i
        <br>
        Sequence Types :=>> list # ["apple", "banana", "cherry"] , tuple # ("apple", "banana", "cherry")
        <br>
        Mapping Type :===>> dict # {"name" : "John", "age" : 36}
        <br>
        Set Types :====>>>> set # {"apple", "banana", "cherry"}
        <br>
        Boolean Type :==>>> bool # True # False
        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
        x = 5
        <br>
        print(type(x))
        <br>
        <br>
        >> class 'int'
        </p>
        <div class="line"></div>
        <a name="If-Else"></a>
        <h2> Python Conditions and If statements        </h2>
        <p>
            Python supports the usual logical conditions from mathematics:
            <br>
            Equals: a == b
            <br>
            Not Equals: a != b
            <br>
            Less than: a < b
            <br>
            Less than or equal to: a <= b
            <br>
            Greater than: a > b
            <br>
            Greater than or equal to: a >= b
        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            a = 10   
            <br>
            b = 5
            <br>
            if b > a: print("b is greater than a")
            <br>
            elif a == b: print("a and b are equal")
            <br>
            else: print("a is greater than b")
            <br>
            <br>
            >> a is greater than b
        </p>





        <div class="line"></div>
        <a name="WhileLoops"></a>
        <h2> Python while Loops</h2>
        <p>
            With the while loop we can execute a set of statements as long as a condition is true.
            <br>
            The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.
        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            # Print i as long as i is less than 5:
            <br>
            i = 1
            <br>
            while i < 5:
            <br>
            print(i)
            <br>
            i += 1
            <br>
            <br>
            >> 1
            <br>
            >> 2
            <br>
            >> 3
            <br>
            >> 4
        </p>
        <div class="line"></div>
        <a name="ForLoops"></a>
        <h2> Python For Loops </h2>
        <p>
            A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
            <br>
            This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
            <br>
            With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            # Print each fruit in a fruit list:
            <br>
            fruits = ["apple", "banana", "cherry"]
            <br>
            for x in fruits: print(x)
            <br>
            <br>
            >> apple
            <br>
            >> banana
            <br>
            >> cherry
        </p>
        <br>
        <br>
        <p>
            # Print from 2 to 5 not encluding 5:
            <br>
            for x in range(2, 5): print(x)
            <br>
            <br>
            >> 2
            <br>
            >> 3
            <br>
            >> 4
        </p>
      
        <div class="line"></div>
        <a name="Functions"></a>
        <h2> Python Functions        </h2>
        <p>
            A function is a block of code which only runs when it is called.

            <br>
            You can pass data, known as parameters, into a function.

            <br>
            A function can return data as a result.
        </p>
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            # In Python a function is defined using the def keyword:
            <br>
            def my_function(): print("Hello function")
            <br>
            <h4>Calling a Function</h4> 
            <br>
            def my_function(): print("Hello function")
            <br>
            my_function()
            <br>
            <br>
            >> Hello function
        </p>

        <div class="line"></div>
        <a name="Arrays"></a>
        <h2> Python Arrays        </h2>
        <p>
            Arrays are used to store multiple values in one single variable:
        <div class="line"></div>
        <h2> Example </h2>
        <p>
            # Create an array containing car names:
            <br>
            cars = ["Ford", "Volvo", "BMW"]
            <br>
            <h4>Access the Elements of an Array            </h4> 
            <br>
            # Get the value of the first array item:
            <br>
            x = cars[0]
            <br>
            <br>
            <h4>Modify the value of the first array item:</h4> 
            <br>
            cars[0] = "Toyota"
            <br>
            print(cars)
            <br>
            <br>
            >> ["Toyota", "Volvo", "BMW"]
        </p>

        
        <div class="line"></div>

{% endblock %}
